@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
  *,
  *::before,
  *::after{
   list-style-type: none;
   text-decoration: none;
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: 'Montserrat';
   max-width: 100vw;
 }

 html{
  scrollbar-width: thin;
  scrollbar-color: #888 #000000;
  overflow-x: hidden;
}


 body{
  background-image: url(./background-gradient.png);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 /* container */

 .container {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

 /* header ↓ */ 

 .navbar{
  display: flex;
  padding: 10px;
  padding-top: 37px;
  align-items: center;
  justify-content: space-between;
 }

 .contatos{
  display: flex;
 }

 .contatos img{
   width: 37px;
   display: block;
   margin: auto;
 }

 .contatos .contatos-github{
  margin-left: 130px;
  display: block;
  opacity: 70%;
}

 .contatos .contatos-linkedin{
    padding-left: 30px;
    opacity: 70%;
 }

  .navbar-thememode{
    display: flex;
    justify-content: space-around;
    width: 90px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-right: 122px;
    opacity: 67%;
 }

 .navbar-thememode button{
  background: none;
  border: none;
 }

  .navbar-thememode img{
  cursor: pointer;
}

.navbar-thememode #lightmode{
  background-color: rgba(255, 255, 255, 0);
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.486));
}

.navbar .navbar-thememode button img{
  width: 17px;
  height: 17px;
  margin-top: 3px;
}

 /* main ↓ */
.main{
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
 /*landpage*/
 .landpage{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 70px;
   margin-bottom: 302px;
   padding-left: 140px;
 }

  .landpage .tittle{
  display: flex;
  padding-top: 150px;
  text-transform: uppercase;
  justify-content: space-evenly;
  justify-content: center;
 }

 .landpage .tittle h1{
   font-size: 52px;
   font-weight: bold;
 }

  .landpage .tittle .traco{
    width: 300px;
    padding-left: 185px; 
    padding-bottom: 12px;
  }

 .landpage .tittle .javaScript{
    color: rgb(255, 255, 110);
    filter: drop-shadow(1px 1px 3px #ffffff77);
 }

  .landpage .main-image img{
    cursor: pointer;
    width: 300px;
    display: flex;
    margin: auto;
    padding-top: 100px;
    padding-left: 30px;
  }

  .landpage .main-image img:hover{
    filter: drop-shadow(1px 1px 80px rgba(255, 255, 255, 0.185));
  }

/*summary*/

  .summary{
    display: flex;
    justify-content: center;
  }

  .summary-area{
    display: flex;
    width: 400px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.244));
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

   .summary-logo img{
    width: 47px;
    margin-top: 36px;
    margin-bottom: 12px;
  }

  .summary-tittle h2{
    width: 122px;
    margin-bottom: 20px;
  }

  .summary-description  h3{
    width: 300px;
    height: px;
    margin-bottom: 60px;
    text-align: center;
  }

  .summary-languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  .summary-languages--tittle h4{
    width: 165px;
    margin-bottom: 10px;
  }

  .summary-languages--itens{
   display: flex;
   justify-content: center;
   text-align: center;
   line-height: 2cap;
   align-items: center;
  }



  .summary-devtools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }

  .summary-devtools--tittle  h4{
    width: 165px;
    margin-bottom: 10px;
    text-align: center;
  }

  .summary-devtools--itens{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.3;
  }

/*footer area*/

 .footer-area{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-content: baseline;
    text-align: center;
    margin-top: 370px;
    color: rgba(255, 255, 255, 0.5);
 }

 /*media-query area*/
 @media (max-width: 1600px) {

}

@media (max-width: 1440px) {


}

@media (max-width: 1280px){

}

@media (max-width: 1240px){

}

@media (max-width: 1080px){

}

@media (max-width: 1024px) {




}

@media (max-width: 959px) {
.footer-area{
  margin-top: 370px;
}

.landpage{
  margin-bottom: 200px;
}

}

@media (max-width: 945px) {
  .landpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .footer-area{
    margin-top: 200px;
}

  .landpage{
    margin-bottom: 100px;
  }

  .main-image{
    display: flex;
  }

  .main-image img{
    padding-top: 30px 30px;
  }
  
}

@media (max-width: 866px){
  .landpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .footer-area{
    margin-top: 200px;
}

  .landpage{
    margin-bottom: 100px;
  }

  .main-image{
    display: flex;
  }

  .main-image img{
    padding-top: 30px 30px;
  }
}

@media (max-width: 770px) {

  .main{
    justify-content: center;
  }

  footer .footer-area{
    margin-top: 200px;
  }
  
}

@media (max-width: 768px) {

  .landpage{
    padding: 0px;
  }

  .landpage .tittle{
    padding-top: 100px;
  }

  .main .landpage .main-image img{
    padding-top: 0px;
  }

  
  footer .footer-area{
    margin-top: 200px;
  }

  .navbar .contatos .contatos-github{
    margin-left: 61px;
  }

  .navbar .navbar-thememode{
     margin-right: 61px;
  }

}

@media (max-width: 576px) {

  .main .landpage{
    display: block;
    width: 600px;
    height: 602px;
  }
  
}

@media (max-width: 520px) {

  .main .landpage{
    width: 500px;
    height: 700px;
  }

  .main .landpage .tittle{
    padding-top: 60px;
    text-align: center;
  }

  .main .landpage .tittle h1 em .traco{
    width: 113px;
    height: 15px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 425px) {

  .summary{
    width: 350px;
    height: 600px;
  }
}

@media (max-width: 466px) {

  .navbar .contatos .contatos-github{
    margin-left: 61px;
  }

  .navbar .navbar-thememode{
     margin-right: 61px;
  }
}

@media (max-width: 390px){

  .main .landpage{
    width: 500px;
    height: 700px;
  }

  .main .landpage .tittle h1 {
    text-align: center;

  }

  .summary {
    width: 125px;
    height: 600px;
  }

  .navbar .contatos .contatos-github{
    margin-left: 30px;
  }

  .navbar .navbar-thememode{
     margin-right: 30px;
  }

}

@media (max-width: 375px){

  .landpage .tittle em{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 345px;
    align-items: center;
    font-size: 45px;
  }

  .landpage .main-image img{
    width: 220px;
    height: 187px;
  }

  .landpage{
    margin-bottom: 0px;
  }
}

@media (max-width: 320px){

}
